.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-inline: 1em;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.filtersContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10em;
    padding-bottom: 1em;
    background-color: rgb(19,25,33);
    color: white;
}

.select {
    border-radius: 0.5em;
    text-align: center;
    margin-inline: 1em;
}

.button {
    border-radius: 0.5em;
    padding-block: 0.5em;
    padding-inline: 1em;
    text-align: center;
    line-height: 1;
    margin-right: 2em;
    background-color: transparent;
    color: white;
}

.button:not(:disabled):hover {
    border: 1px solid black;
    background-color: rgb(254,189,105);
    color: black;
}

.button:not(:disabled):active {
    border: 1px solid black;
    background-color: rgba(254, 189, 105, 0.644);
}

.button:focus {
    outline: none;
}

.button:disabled {
    opacity: 40%;
}

.paginado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: rgba(19, 25, 33, 0.541);
    padding-block: 0.2em;
}

.loading {
    position: relative;
    left: 50%;
    top: 15em;
    transform: translate(-50%, -50%);
}

.loadingFilters {
    position: relative;
    top: 0.1em;
}

.empty {
    position: relative;
    left: 50%;
    top: 9em;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 5;
}