.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filtersContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 10em;
    padding-bottom: 1em;
    background-color: rgb(19,25,33);
    color: white;
}

.select {
    border-radius: 0.5em;
    text-align: center;
}

.button {
    border-radius: 0.5em;
    padding-block: 0.5em;
    padding-inline: 1em;
    text-align: center;
    line-height: 1;
    margin-right: 2em;
    background-color: transparent;
    color: white;
}

.button:not(:disabled):hover {
    border: 1px solid black;
    background-color: rgb(254,189,105);
    color: black;
}

.button:disabled {
    opacity: 40%;
}

.paginado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color: rgba(19, 25, 33, 0.541);
    padding-block: 0.2em;
}