.barContainer {
    display: flex;
    align-items: center;
  }
  
  .bar {
    border: 1px solid black;
    border-radius: 0.5em;
    padding-block: 0.5em;
    padding-inline: 1em;
    width: 30em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    margin-right: 0.3em;
  }
  
  .buttonContainer {
    position: relative;
  }
  
  .button {
    position: absolute;
    transform: translateY(-51%);
    right: 0.3em;
    padding-block: 0.2em;
    border-radius: 0.5em;
    background-color: transparent;   
    text-align: center;
    line-height: 0;
  }

  .button:hover {
    background-color: rgb(254,189,105);
    border: 1px solid black;
  }
  