.div {
    border: 1px solid rgb(19,25,33);
    border-radius: 0.5em;
    text-align: center;
    width: 20em;
    margin: 1em;
    padding-inline: 1em;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.div:hover {
    transform: scale(1.02);
}

.title {
    background-color: rgb(19,25,33);
    color: rgb(254,189,105);
    margin-inline: -9.4em;
    padding-block: 1em;
}

.types {
    background-color: rgba(19, 25, 33, 0.541);
    color: white;
    font-weight: normal;
    margin-inline: -0.9em;
    padding-block: 1em;
    margin-top: 0;
}

.buttonsDiv {
    position: relative;
    bottom: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.imageButton {
    border-radius: 100%;
    border: 1px solid rgb(19,25,33);
    font-size: medium;
    padding-inline: 0.5em;
    padding-blocK: 0.8em;
    line-height: 0;
    margin-top: -1em;
}

.imageButton:not(:disabled):active {
    border: 1px solid rgb(19,25,33);
    background-color: rgba(19, 25, 33, 0.479);
}

.imageButton:focus {
    outline: none;
}

.imageContainer {
    margin-bottom: -2em;
    margin-top: 2em;
    width: 20em;
    height: 17em;
}

.image {
    border-radius: 0.5em;
}

.deleteButton {
    position: relative;
    left: 9em;
    bottom: 3.4em;
    border-radius: 100%;
    border: 1px solid rgb(19,25,33);
    background-color: white;
    padding-inline: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: -1.7em;
}

.deleteButton:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 201)
}