.div {
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    list-style-position: inside;
    width: max-content;
    margin: 1em;
    padding: 1em;
    font-size: small;
}

.div > button {
    border: 1px solid black;
    margin: 0.5em
}

.div > h3 > button {
    border: 1px solid black;
    margin: 0.25em
}