.div {
    padding-inline: 1.5em;
    padding-block: 0.4em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19,25,33)
}

.button {
    border-radius: 0.5em;
    padding-block: 0.5em;
    padding-inline: 1em;
    text-align: center;
    line-height: 1;
    margin-right: 2em;
    background-color: transparent;
    color: white;
}

.button:hover {
    border: 1px solid black;
    background-color: rgb(254,189,105);
    color: black;
}

.logoPokemon {
    position: relative;
    top: 0.1em;
    margin-left: 1em;
}