.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 9em;
    margin-left: 6em;
    margin-top: -1em;
}

.imageContainer {
    text-align: center;
    border: 1px solid rgb(19,25,33);
    border-radius: 0.5em;
    padding-inline: 2em;
    background-color: white;
    margin-bottom: 3em;
}

.textContainer {
    border: 1px solid rgb(19,25,33);
    border-radius: 0.5em;
    padding-bottom: 0.3em;
    background-color: white;
    width: 25em;
    text-align: center;
}

.h2 {
    background-color: rgb(19,25,33);
    color: rgb(254,189,105);
    padding-block: 0.3em;
    margin-block: 0.5em;
    text-align: center;
    font-size: x-large;
}

.h3 {
    background-color: rgba(19, 25, 33, 0.295);
    font-weight: bold;
    line-height: 1.1;
    margin-block: 0.2em;
    padding-block: 0.2em;
    font-size: 1.1em;
    text-align: center;
    
}

.h4 {
    font-weight: normal;
    margin-block: 0;
    line-height: 1.1;
    text-align: center;
    width: 25em;
}

.image {
    position: relative;
    top: 1em
}

.buttonsDiv {
    position: relative;
    bottom: 9em;
    display: flex;
    justify-content: space-between;
    width: 25em;
}

.imageButton {
    border-radius: 100%;
    border: 1px solid rgb(19,25,33);
    font-size: medium;
    padding-inline: 0.5em;
    padding-blocK: 0.8em;
    line-height: 0;
}

.imageButton:not(:disabled):active {
    border: 1px solid rgb(19,25,33);
    background-color: rgba(19, 25, 33, 0.479);
}

.imageButton:focus {
    outline: none;
}

.backButton {
    border: 1px solid rgb(19,25,33);
    border-radius: 0.5em;
    color: rgb(19,25,33);
    font-weight: normal;
    background-color: rgba(19, 25, 33, 0.082);
    margin-inline: 1em;
    margin-top: 1em;
    padding-block: 0.25em;
    padding-inline: 0.4em;
}

.backButton:hover {
    transform: scale(1.03);
}

.backButton:focus {
    outline: none;

}

.loading {
    position: relative;
    left: 50%;
    top: 15em;
    transform: translate(-50%, -50%);
}